<div class="banner mb-5 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./../../../assets/images/cinema.jpg); height: 50vh; size:cover; position: center;">
  <h1 class="text-white display-2">Movie lists</h1>
</div>
